{%extends "base.html" %}

{%block tittle%}Listado de fuentes{%endblock%}
{%block titulopagina%}Listado{%endblock%}


{%block contenido%}

<link rel="stylesheet" href="/static/css/style.css">
<h2 style="text-align: center;">Listado de fuentes disponibles:</h2>

<table style="margin-left:auto; margin-right:auto; border-collapse: collapse;">
  <tr>
    <th style="border: 1px solid #ffffff; padding: 8px; text-align: center;">Nombre de la fuente</th>
    <th style="border: 1px solid #ffffff; padding: 8px; text-align: center;">Detalles</th>
  </tr>
  {% for font in font_names %}
  <tr>
    <td style="border-bottom: 1px solid #ffffff; padding: 8px; text-align: center;">
      <p>{{ font }}</p>
    </td>
    <td style="border-bottom: 1px solid #ffffff; padding: 8px; text-align: center;">
      <a href="/detalles/{{font}}"><p>Detalles</p></a>
    </td>
  </tr>
  {% endfor %}
</table>

{%endblock%}